@p-1: 1.25vw;
@p-2: 2.5vw;
@m-1: 1.25vw;
@m-2: 2.5vw;
@gap-1: 1.25vw;
@gap-2: 2.5vw;
@arrow-right: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAzMiAzMiIgdmVyc2lvbj0iMS4xIj48cGF0aCBkPSJtIDEyLjU5LDIwLjM0IDQuNTgsLTQuNTkgLTQuNTgsLTQuNTkgMS40MSwtMS40MSA2LDYgLTYsNiB6IiBmaWxsPSIjZmZmIiAvPjwvc3ZnPg==);
@font-size-sm: 3.5vw;
@line-height-sm: 4vw;
@font-size-base: 5vw;
@rem: 5vw;
@mpx: 0.533vw;

.text-sm {
  font-size: @font-size-sm;
  line-height: @line-height-sm;
}

:root[data-theme="dark"] {
  --color-bg: #030303;
  --color-text: #ffffff;
  --color-text-primary: #ffffff;
  --color-text-accent: crimson;
  --color-text-secondary: #909090;

  --swiper-pagination-bullet-size: 2vw;
  --swiper-pagination-bottom: 2vw;
  --swiper-pagination-bullet-inactive-color: var(--color-text-secondary);
  --swiper-pagination-color: var(--color-text-accent);
}

* {
  box-sizing: border-box;
}

i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-size: unset;
  margin: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  font-size: 1 * @rem;
}

main {
  padding: @p-2;

  label {
    display: flex;
    gap: 2 * @rem;
    justify-content: center;
  }

  p {
    text-align: center;
  }
}

.month {
  text-align: center;

  h3 {
    position: relative;
  }

  h3::after {
    left: 50%;
    margin-left: calc(4vw + 2.5 * @font-size-base);
  }

  h3::before {
    right: 50%;
    margin-right: calc(4vw + 2.5 * @font-size-base);
  }

  h3::after,
  h3::before {
    content: "";
    display: block;
    position: absolute;
    width: 13vw;
    height: 1px;
    background-color: var(--color-text-secondary);
    top: 50%;
  }
}

.day-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  &--day {
    display: flex;
    justify-content: center;
    line-height: 12vw;
  }

  &--day__disable {
    color: var(--color-text-secondary);
  }

  &--day__today {
    font-size: 0;
  }

  &--day__selected {
    color: var(--color-text-accent);
    outline: solid 2px var(--color-text-accent);
    outline-style: dashed;
  }

  &--day__today::after {
    content: "今天";
    color: var(--color-text-accent);
    font-size: initial;
  }
}
