.border-none {
  border: none;
}

.fz14 {
  font-size: 14px;
}

.c66 {
  color: #666666;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.lh24 {
  line-height: 24px;
}

.mt46 {
  margin-top: 24px;
}

.mt50 {
  margin-top: 50px;
}

.mr58 {
  margin-right: 58px;
}

.container {
  width: 1056px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}

.container::after,
.container::before {
  content: "";
  display: table;
}

.container::after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
