.realtime-news--interaction__separator {
  border-right: solid 1px var(--text-color);
  border-left: solid 1px var(--text-color);
  padding: 0 4px;
}

.realtime-news--interaction {
  margin-left: 10px;
}

.realtime-news--interaction > a {
  color: unset;
  cursor: pointer;
}

.realtime-news > footer {
  text-align: right;
  font-size: 0.8em;
}

.realtime-news {
  border: dashed 1px var(--gray);
  padding: 16px;
}
