footer {
  background-image: linear-gradient(#22212f, #22212f),
    linear-gradient(180deg, #24272d 0%, #373c49 100%);
  background-blend-mode: normal, normal;
  text-align: center;
  padding-bottom: 25px;
}

footer section:last-of-type {
  color: #7e8088;
}

footer .contact {
  color: #fff;
  padding: 102px 0 67px 0;
  letter-spacing: 0;
  text-align: center;
  background-image: url(../img/bg-contact.png);
  background-position: center;
  background-size: cover;
}

footer .contact > p:nth-of-type(1) {
  font-size: 48px;
  padding-bottom: 24px;
  font-weight: 300;
}

footer .contact > p:nth-of-type(2) {
  font-size: 20px;
  padding-bottom: 30px;
}

footer .contact > a {
  color: #fff;
}

footer .contact .sep {
  padding: 0 26px;
}

footer .contact > a::after {
  margin-left: 8px;
}

.connect--hotline > .number {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.connect--hotline > .number > :first-child {
  font-size: 22px;
  color: #fff;
}

.connect--hotline > .number > :last-child {
  font-size: 14px;
  color: #d2d2d2;
}

.connect--hotline {
  display: flex;
  gap: 6px;
}

.connect--telephone {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.connect--telephone > .wechat {
  text-align: center;
  font-size: 12px;
  color: #cecece;
  padding: 18px 0 0 35px;
}

.connect--telephone > .wechat > p {
  font-size: 12px;
  color: #cecece;
  margin-top: 15px;
  white-space: nowrap;
}

.connect {
  display: flex;
  padding-top: 55px;
  justify-content: center;
}

.connect--divider {
  border-right: solid 1px #4c4f5f;
  margin: 4px 90px;
}

.links {
  display: flex;
  gap: 88px;
  text-align: left;
}

.links--section {
  width: 100px;
}

.links--section > dt {
  color: white;
  font-size: 16px;
}

.links--section > dd:first-of-type {
  margin-top: 42px;
}

.links--section > dd {
  margin-top: 20px;
  color: #cecece;
  font-size: 14px;
}

.footer--divider {
  margin: 20px auto;
  height: 1px;
  width: 1245px;
  background-image: linear-gradient(
    to right,
    #252433 0%,
    #4c4f5f 20%,
    #4c4f5f 80%,
    #252433 100%
  );
}
