.showcase-section {
  padding: 82px 0 132px 0;
  text-align: center;
  background-color: #f8fafd;
  background-image: url(../img/bg-showcase.png);
  background-size: cover;
  background-position: center;
}

.showcases-wrap {
  position: relative;
}

.showcase--tabs {
  display: flex;
  gap: 15px;
  margin-top: 86px;
  justify-content: center;
}

.showcase--tab {
  font-size: 18px;
  color: #333;
  box-sizing: border-box;
  width: 181px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px -1px 21px 0px rgba(192, 192, 192, 0.35);
  border-radius: 25px;
  cursor: pointer;
}

.showcase--tab:hover,
.showcase--tab__active {
  background-color: #ff7200;
  color: #fff;
}

.showcases {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 98px;
}

.showcase {
  font-size: 14px;
  color: #666;
  padding: 93px 45px 0 45px;
  box-sizing: border-box;
  width: 500px;
  height: 391px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(192, 192, 192, 0.35);
}

.showcase > p {
  text-indent: 2em;
  text-align: left;
  margin-top: 66px;
  line-height: 30px;
}

.showcase-wrap {
  position: relative;
}

.showcase--btn:hover {
  opacity: 0.6;
}

.showcase--btn {
  opacity: 1;
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - 53px / 2);
  width: 53px;
  height: 53px;
  background-image: url(../img/chengquan-sprites.png);
  cursor: pointer;
}

.showcase--btn__left {
  background-position: -230px -100px;
  left: calc(50%);
  transform: translateX(calc(-1 * (30px + 500px + 18px + 53px)));
}

.showcase--btn__right {
  background-position: -326px -10px;
  right: calc(50%);
  transform: translateX(calc(30px + 500px + 18px + 53px));
}

.showcase__active {
  position: absolute;
  height: 452px;
  top: -26px;
  color: #333;
}
