[icon]::before,
[icon]::after {
  background-image: url(../img/chengquan-sprites.png);
  display: inline-block;
}

[icon="arrow-right"]::after {
  content: "";
  width: 6px;
  height: 12px;
  background-position: -326px -172px;
  margin-left: 8px;
}

[icon="arrow-right__orange"]::after {
  content: "";
  width: 6px;
  height: 12px;
  background-position: -352px -172px;
  margin-left: 8px;
}

[icon="custom-service"]::before {
  content: "";
  width: 43px;
  height: 43px;
  background-position: -326px -83px;
}

[icon="arrow-down"]::after,
[icon="arrow-down"]::before {
  width: 13px;
  height: 6px;
  background-position: -326px -146px;
}

[icon="slogan"]::after,
[icon="slogan"]::before {
  width: 76px;
  height: 70px;
  background-position: -230px -10px;
}

[icon="notification"]::after,
[icon="notification"]::before {
  width: 90px;
  height: 90px;
  background-position: -10px -120px;
}

[icon="shoppinp_bag"]::after,
[icon="shoppinp_bag"]::before {
  width: 90px;
  height: 90px;
  background-position: -120px -120px;
}

[icon="globe "]::after,
[icon="globe "]::before {
  width: 90px;
  height: 90px;
  background-position: -120px -10px;
}

[icon="diamond"]::after,
[icon="diamond "]::before {
  width: 90px;
  height: 90px;
  background-position: -10px -10px;
}
