.mt-137 {
  margin-top: 137px;
}

.mb-20 {
  margin-bottom: 20px;
}

.font-40 {
  font-size: 40px;
}

.font-22 {
  font-size: 22px;
}

.text-regular {
  font-weight: 400;
}

.text-white {
  color: #fff;
}

.h-350 {
  height: 350px !important;
}
