.carousel-wrap > .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel--img {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
  transition: .3s;
}

.carousel-wrap {
  position: relative;
  height: 100%;
}

.carousel-wrap > .slider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 6px 6px;
  box-sizing: border-box;
  margin: 0 auto;
  opacity: 0.5;
  background-color: #aaa;
  transition: .3s;
}

.carousel-wrap > .slider:hover {
  opacity: 1;
}

.carousel-wrap > .slider > li {
  list-style: none;
  margin-right: 6px;
  padding: 3px 6px;
  border: solid 2px #888;
  user-select: none;
  cursor: pointer;
}

.slider > .slider--btn__active {
  background-color: #888;
  color: #fff;
}

button {
  background-color: unset;
  border: unset;
  padding: 0;
}

.carousel--step-btn-wrap {
  margin-left: auto;
}

.carousel--step-btn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 38px;
  padding: 8px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  /* magic number to vertically center <> signs */
  line-height: 25px;
}

.carousel--step-btn:hover {
  background-color: #666;
}

.carousel--step-btn__left {
  margin-right: 30px;
}